.client-card {
    border-radius: 20px;
    background-color: $dark-card-color;
    border: 2px solid $card-color-border;
    width: 200px;
    margin-right: 0.5rem;
    &:hover {
        animation: bounceIn 1s infinite;
    }

    &:active {
        background-color: $gray;
        h1, p {
            color: $background-color;
        }
    }
}

.client-image {
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    height: 200px;
    object-fit: cover;

}

.client-name {
    font-size: 26px;
    font-weight: 600;
}
.subscriber-count {
    font-weight: 400;
    font-size: 20px;
}

.client-info {
    @include flexColumn;
    padding: 10px 10px 20px 10px;
}