$background-color: #0B0F1C;
$foreground-color: #eaeaea;
$foreground-color-dark: #050526;
$gray: #C9C9C9;
$blue-light: #92FFE5;
$cyan: #8EEFBB;
$green-bright: #6DFF61;
$sidebar-color1: #040710;
$sidebar-color2: #050915;
$dark-card-color: rgba(41, 41, 41, 0.3);
$sidebar-color1-rgba: rgba(red($sidebar-color1), green($sidebar-color1), blue($sidebar-color1), 0.65);
$sidebar-color2-rgba: rgba(red($sidebar-color2), green($sidebar-color2), blue($sidebar-color2), 0.65);
$card-color: rgba(55,55,55,0.3);
$card-color-border: #4A4A4A;